# .env.example
NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# Security (Requires 256-bit secure key in production)
JWT_SECRET=nishant1430

# Downstream Microservice Mappings
USER_SERVICE_URL=http://localhost:3001
PRODUCT_SERVICE_URL=http://localhost:3002
INVENTORY_SERVICE_URL=http://localhost:3003
ORDER_SERVICE_URL=http://localhost:3004

# Rate Limiting Parameters
RATE_LIMIT_MAX=200
RATE_LIMIT_TIME_WINDOW=1 minute
