# .env.example
NODE_ENV=development
PORT=3004

# JWT Secret (Must match the one configured in the API Gateway / User Service)
JWT_SECRET=nishant1430

# Isolated PostgreSQL Database Credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_NAME=flashscale_orders

# RabbitMQ AMQP Connection (For async Notification Events)
RABBITMQ_URL=amqp://guest:guest@localhost:5672
ORDER_EVENTS_QUEUE=order_notifications_queue

# Internal Microservice Routing (Synchronous HTTP)
INVENTORY_SERVICE_URL=http://localhost:3003