# .env.example
NODE_ENV=development
PORT=3001

# JWT Secret (Must match the one configured in the API Gateway)
JWT_SECRET=nishant1430
JWT_EXPIRES_IN=10h

# Isolated PostgreSQL Database Credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres_user
DB_PASSWORD=postgres_password
DB_NAME=flashscale_users